.recommendation {
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.recommendation::-webkit-scrollbar {
    display: none;
  }